SOCTest/src/main/webapp/wsdl/ReturnExames.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.SOCTest.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.SOCTest.org" xmlns:intf="http://service.SOCTest.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.SOCTest.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="returnData">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="returnDataResponse">
    <complexType>
     <sequence>
      <element name="returnDataReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="returnDataResponse">

      <wsdl:part element="impl:returnDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="returnDataRequest">

      <wsdl:part element="impl:returnData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ReturnExames">

      <wsdl:operation name="returnData">

         <wsdl:input message="impl:returnDataRequest" name="returnDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:returnDataResponse" name="returnDataResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ReturnExamesSoapBinding" type="impl:ReturnExames">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="returnData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="returnDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="returnDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ReturnExamesService">

      <wsdl:port binding="impl:ReturnExamesSoapBinding" name="ReturnExames">

         <wsdlsoap:address location="http://localhost:8080/SOCTest/services/ReturnExames"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
